<!DOCTYPE html>
<html>
	<head>
    	<title>帖子管理-添加</title>
    	<meta charset="UTF-8">
     	<link rel="stylesheet" type="text/css" href="../Public/css/bootstrap.min.css" />
	    <link rel="stylesheet" type="text/css" href="../Public/css/bootstrap-responsive.min.css" />
	    <link rel="stylesheet" type="text/css" href="../Public/css/style.css" />
	    <script type="text/javascript" src="../Public/js/jquery.min.js"></script>
			<script type="text/javascript" src="../Public/js/kindeditor/kindeditor-min.js"></script>
			<script type="text/javascript" src="../Public/js/kindeditor/lang/zh_CN.js"></script>
	</head>
	<body>
	    <form action="./admin" method="post" class="definewidth m20">
			<table class="table table-bordered table-hover definewidth m10">
		        <tr>
		        	<td width="10%" class="tableleft">标题</td>
		            <td width="40%">
		            	<input type="text" id="title" name="pub_title"/>
		            </td>
		            <td width="10%" class="tableleft">所属专区</td>
		            <td width="40%">
		            	<select name="pub_area">
							<?php foreach($rows as $row){ ?> 
		            		<option value="<?php echo $row['area_name']?>"><?php echo $row['area_name']?></option>
		            		<?php } ?>										
		            	</select>
		            </td>
		        </tr>
		        <tr>
		        	<!-- <td width="10%" class="tableleft">关键词</td>
		            <td width="40%">
		            	<input type="text" id="title" name="pub_kw" style="width: 350px" />
		            </td> -->

		        	<td width="10%" class="tableleft"><?php if($user_role==1){echo "是否置顶";}else{echo "置顶申请";}?></td>
		            <td width="40%">
		            	<input type="radio" name="<?php if($user_role==1){echo'pub_top';}else{ echo 'pub_apply_top';} ?>" value="1"/>是
		            	<input type="radio" name="<?php if($user_role==1){echo'pub_top';}else{ echo 'pub_apply_top';} ?>" checked="checked" value="0"/>否
		            </td>

		        <tr>
		            <td width="10%" class="tableleft">内容</td>
		            <td colspan="3">
		            	<textarea name="pub_content" id="content" rows="15" style="width:100%;"></textarea>
		            </td>
		        </tr>
		        <tr>
		            <td class="tableleft"></td>
		            <td colspan="3">
		            	<input type="submit" class="btn btn-primary" value="保存"/>
		                &nbsp;&nbsp;<input type="button" class="btn btn-success" name="backid" id="backid" value="返回"/>
		            	&nbsp;&nbsp;<font color="red"></font>
		            </td>
		        </tr>
			</table>
		</form>
	</body>
</html>
<script type="text/javascript">
		var editor;
		
		KindEditor.ready(function(K) {
			editor = K.create('textarea[name="pub_content"]', {
				resizeType : 1,
				allowPreviewEmoticons : false,
				allowImageUpload : false,
				items : [ 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor',
						'bold', 'italic', 'underline', 'removeformat', '|',
						'justifyleft', 'justifycenter', 'justifyright',
						'insertorderedlist', 'insertunorderedlist', '|',
						'link' ],
				afterBlur: function(){
					this.sync();
				}				
			});
		});
				
		//返回按钮事件
		$('#backid').click(function(){
			location = "<?php echo empty($user_role)?'UserTie.php':'AdminTie.php'?>";
		});
</script>