<div class="admin-navbar"> <span class="float-right"> <a class="button button-little bg-main" href="#">前台首页</a> <a class="button button-little bg-yellow" href="login.html">注销登录</a> </span>
  <ul class="nav nav-inline admin-nav">
    <li class="active"><a href="index.html" class="icon-home"> 开始</a>
      <ul>
        <li class="active"><a href="system.html">类别管理</a></li>
        <li><a href="content.html">文章管理</a></li>
        <li><a href="#">相册管理</a></li>
        <li><a href="#">站长信息</a></li>
        <li><a href="#">关于我</a></li>
        <li><a href="#">栏目管理</a></li>
      </ul>
    </li>
    <li><a href="system.html" class="icon-cog">类别管理</a>
      <ul>
        <li><a href="#">所有类别</a></li>
        <li class="active"><a href="#">添加类别</a></li>
        
      </ul>
    </li>
    <li><a href="content.html" class="icon-file-text"> 文章管理</a>
      <ul>
        <li><a href="#">文章列表</a></li>
        <li class="active"><a href="#">所有文章</a></li>
        <li><a href="#">添加文章</a></li>
      </ul>
    </li>
    <li><a href="#" class="icon-shopping-cart"> 相册管理</a>
      <ul>
        <li><a href="#">添加相片</a></li>
      </ul>
    </li>
    <li><a href="#" class="icon-user"> </a></li>
    <li><a href="#" class="icon-file"> </a></li>
    <li><a href="#" class="icon-th-list"> </a></li>
  </ul>
</div>