<header>
    <h1>如影随形</h1>
    <h2>影子是一个会撒谎的精灵，它在虚空中流浪和等待被发现之间;在存在与不存在之间....</h2>
    <div class="logo">
        <a href="/"></a>
    </div>
    <nav id="topnav">
        <a <{if $active eq 1}>id="topnav_current"<{/if}>  href="index.html">首页</a>
        <a <{if $active eq 2}>id="topnav_current"<{/if}> href="about.html">关于我</a>
        <a <{if $active eq 3}>id="topnav_current"<{/if}> href="newlist.html">慢生活</a>
        <a <{if $active eq 4}>id="topnav_current"<{/if}> href="share.html">模板分享</a>
        <a <{if $active eq 5}>id="topnav_current"<{/if}> href="new.html">模板主题</a>
    </nav>
</header>